<mat-card class="todo-item" [class.completed]="todo.completed">
  <mat-card-content>
    <div class="todo-header">
      <mat-checkbox
        [checked]="todo.completed"
        (change)="onToggle()"
        color="primary">
      </mat-checkbox>

      <div class="todo-info">
        <h3 [class.completed-text]="todo.completed">{{ todo.title }}</h3>
        <p *ngIf="todo.description" class="todo-description">{{ todo.description }}</p>

        <div class="todo-meta">
          <mat-chip-set>
            <mat-chip [color]="getPriorityColor()">
              {{ todo.priority }}
            </mat-chip>
            <mat-chip *ngFor="let tag of todo.tags">
              {{ tag }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </div>

      <div class="todo-actions">
        <button mat-icon-button (click)="onEdit()" [disabled]="todo.completed">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
